body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #C2FFF9;
    background-image: url("Images/mountain.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.skills {
    text-align: center;
    margin: 3% 5% 0% 5%;
    padding-bottom: 8%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    color: #11999E;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 1.5rem;
    line-height: 1.5;
}

.btn {
    background: #79DAE8;
    background-image: -webkit-linear-gradient(top, #79DAE8, #50b5dd);
    background-image: -moz-linear-gradient(top, #79DAE8, #50b5dd);
    background-image: -ms-linear-gradient(top, #79DAE8, #50b5dd);
    background-image: -o-linear-gradient(top, #79DAE8, #50b5dd);
    background-image: linear-gradient(to bottom, #79DAE8, #50b5dd);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
  }


/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}    */